.cardImg {
  height: min(calc(35vw), 250px);
}

.card {
  border: solid 1px black;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  width: calc(50px + 50%);
}

.badChoice {
  border: solid 5px red;
}

.goodChoice {
  border: solid 5px green;
}